<?xml version="1.0"?>
<config>
    <modules>
        <Ongr_Sync>
            <version>0.1.0</version>
        </Ongr_Sync>
    </modules>
    <global>
        <models>
            <ongr_Sync>
                <class>
                    Ongr_Sync_Model
                </class>
            </ongr_Sync>
        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ongr_Sync>
                        <class>Ongr_Sync_Model_Observer</class>
                        <type>singleton</type>
                        <method>controllerActionPredispatch</method>
                    </ongr_Sync>
                </observers>
            </controller_action_predispatch>
            <checkout_cart_save_after>
                <observers>
                    <ongr_Sync>
                        <class>Ongr_Sync_Model_Observer</class>
                        <type>singleton</type>
                        <method>checkoutCartSaveAfter</method>
                    </ongr_Sync>
                </observers>
            </checkout_cart_save_after>
            <customer_login>
                <observers>
                    <ongr_Sync>
                        <class>Ongr_Sync_Model_Observer</class>
                        <type>singleton</type>
                        <method>customerLogin</method>
                    </ongr_Sync>
                </observers>
            </customer_login>
        </events>
    </global>
</config>