<?xml version="1.0"?>
<config>
    <modules>
        <Ongr_Sync>
            <version>0.1.0</version>
        </Ongr_Sync>
    </modules>
    <global>
        <models>
            <ongr_Sync>
                <class>
                    Ongr_Sync_Model
                </class>
            </ongr_Sync>
        </models>
        <helpers>
            <ongr>
                <class>Ongr_Sync_Helper</class>
            </ongr>
            <customer>
                <rewrite>
                    <data>Ongr_Sync_Helper_Customer_Data</data>
                </rewrite>
            </customer>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ongr_Sync>
                        <class>Ongr_Sync_Model_Observer</class>
                        <type>singleton</type>
                        <method>controllerActionPredispatch</method>
                    </ongr_Sync>
                </observers>
            </controller_action_predispatch>
            <checkout_cart_save_after>
                <observers>
                    <ongr_Sync>
                        <class>Ongr_Sync_Model_Observer</class>
                        <type>singleton</type>
                        <method>checkoutCartSaveAfter</method>
                    </ongr_Sync>
                </observers>
            </checkout_cart_save_after>
            <customer_login>
                <observers>
                    <ongr_Sync>
                        <class>Ongr_Sync_Model_Observer</class>
                        <type>singleton</type>
                        <method>customerUpdate</method>
                    </ongr_Sync>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <ongr_Sync>
                        <class>Ongr_Sync_Model_Observer</class>
                        <type>singleton</type>
                        <method>customerUpdate</method>
                    </ongr_Sync>
                </observers>
            </customer_logout>
            <customer_save_after>
                <observers>
                    <ongr_Sync>
                        <class>Ongr_Sync_Model_Observer</class>
                        <type>singleton</type>
                        <method>customerUpdate</method>
                    </ongr_Sync>
                </observers>
            </customer_save_after>
        </events>
    </global>
    <default>
        <ongr>
            <ongr_group>
                <ongr_domain/>
            </ongr_group>
        </ongr>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ongr>
                                            <title>Ongr - All</title>
                                        </ongr>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <ongr_sync before="Mage_Customer_AccountController">Ongr_Sync_Frontend_Customer</ongr_sync>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>